.checkbox-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.heading {
  margin-top: 30px;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .heading {
    margin-top: 30px;
    margin-left: 15px;
  } 
}